@page
@using PRN221_DinhChinh_Ass3.WebApp.Pages
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/StyleSheet.css">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
